In [1]:
print("Hello Python World!")#运行这段代码将会看到如下输出

Hello Python World!

变量

In [2]:
message = "Hello Python World!" # 一个名为message的变量，存储的值为文本"Hello Python World!"
print(message)

Hello Python World!

In [3]:
message = "Hello Python Crash Course world!"
print(message)

Hello Python Crash Course world!

变量命名和使用规则：
1，变量名只能包含字母，数字，下划线，。变量名可以字母或下划线打头，但不能以数字打 头，例如，可将变量命名为message_1，但不能将其命名为1_message。 
2，变量名不能包含空格，但可使用下划线来分隔其中的单词。例如，变量名greeting_message 可行，但变量名greeting message会引发错误。 
3，不要将Python关键字和函数名用作变量名，即不要使用Python保留用于特殊用途的单词，
如print
4，变量名应既简短又具有描述性，如，name比n好，student_name比s_n好，name_length_比length_of_persons_name好，建议使用小写的变量名

字符串

字符串就是一系列字符，在Python中，用引号括起的都是字符串，其中的引号可以是单引号， 也可以是双引号，如：

"This is  a string"
"This is also a String"

修改字符串大小写：

In [4]:
name = "ada lovelace"
print(name)

ada lovelace

In [5]:
name= "ada lovelace"
print(name.title())#让python对变量name执行方法title()操作，title()将每个单词的首字母都改为大写

Ada Lovelace

In [6]:
name = "Ada Lovelace"
print(name.upper()) #将每个单词都改为大写
print(name.lower()) #将每个单词都改为小写

ADA LOVELACE
ada lovelace

拼接字符串

In [7]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name 
#python使用 + 来合并字符串，在这里我们使用+来合并first_name，空格，last_name
print(full_name)

ada lovelace

可以使用*表示重复

In [8]:
 "ada" * 3 + "lovelace"

'adaadaadalovelace'

再看一个例子：

In [9]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print("Hello, " + full_name.title() + "!")

Hello, Ada Lovelace!

使用制表符或换行符来添加空白

In [10]:
print("Python")

Python

In [11]:
print("\tPython") #使用\t来 添加制表符

	Python

In [12]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")#使用\n来添加换行符

Languages:
	Python
	C
	JavaScript

删除空白

In [13]:
favorite_language = 'python '
favorite_language

'python '

In [14]:
favorite_language.rstrip()#方法rstrip()删除变量后面的空白，这个删除是暂时的，再次访问时这个变量时依然会有空白

'python'

In [15]:
favorite_language

'python '

In [16]:
favorite_language = ' python '
favorite_language.rstrip()

' python'

In [17]:
favorite_language.lstrip()#lstrip()删除字符串开头空白

'python '

In [18]:
favorite_language.strip()#strip()删除两端空白

'python'

数字

In [19]:
2 + 3

5

In [20]:
3 - 2

1

In [21]:
2 * 3

6

In [22]:
3 / 2

1.5

In [23]:
17 % 3 # 使用%来计算余数

2

In [24]:
3 ** 2  #python使用2个*表示乘方运算

9

In [25]:
2 ** 4 #表示2的4次方

16

python还支持运算顺序

In [26]:
2 + 3*4

14

In [27]:
(2 + 3) * 4

20

整数和浮点数的混合运算中，整数会被转换成浮点数

In [28]:
3 * 3.75 / 1.5

7.5

In [29]:
7.0 / 2

3.5

In [30]:
tax = 12.5 / 10
price = 1.50
price * tax

1.875

In [31]:
price + _   #可以把最近一个表达式的值赋给变量 _

3.375

In [32]:
round(_,2) #round函数保留小数点后两位，需要四舍五入

3.38

列表

使用方括号来表示列表，并用逗号来分割其中的元素

In [33]:
bicycles = ['trek','cannondale','redline','specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [34]:
print(bicycles[0]) # 打印第一个元素，第一个列表元素的索引是0

trek

In [35]:
print(bicycles[1].title()) #以首字母大写打印第二个元素

Cannondale

In [36]:
print(bicycles[-1]) #使用-1作为索引来获取最后一个元素

specialized

以此类推可以获得倒数第二个，倒数第三个

In [37]:
bicycles[-2]

'redline'

In [38]:
bicycles[-3]

'cannondale'

使用列表中的值

In [39]:
bicycles = ['trek','cannondale','redline','specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

修改，添加和删除元素

修改元素

In [40]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [41]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

添加元素

In [42]:
motorcycles.append('ducati') #使用append()方法将元素'ducati'添加到了列表末尾

In [43]:
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati']

In [44]:
motorcycles = ['honda','yamaha','suzuki']
motorcycles.insert(0,'ducati') #使用insert()方法在列表任何位置添加新元素，第一个参数表示插入的元素的位置
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

删除元素

使用del语句删除元素

In [45]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)
del motorcycles[1] #只要知道索引就可以删除任意位置的元素
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

使用方法pop()删除元素

In [46]:
motorcycles = ['honda','yamaha','suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [47]:
popped_motorcycle = motorcycles.pop()#删除列表末尾的元素

In [48]:
print(motorcycles)

['honda', 'yamaha']

In [49]:
print(popped_motorcycle)

suzuki

要删除指定位置的元素，使用pop(i)方法，i是索引位置

In [50]:
classmates = ['Michael','Jack','Bob','Tracy']
classmates.pop(1)

'Jack'

In [51]:
classmates

['Michael', 'Bob', 'Tracy']

根据值删除元素，可以使用方法remove()

In [52]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [53]:
motorcycles.remove('ducati')

In [54]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

要把某个元素替换成别的元素，可以直接赋值给对应的索引位置

In [55]:
classmates[1] = 'Sarah'
classmates

['Michael', 'Sarah', 'Tracy']

使用方法sort()对列表永久性排序

In [56]:
cars = ['bmw','audi','toyota','subaru']
cars.sort()
print(cars) #按字母顺序排序

['audi', 'bmw', 'subaru', 'toyota']

In [57]:
cars.sort(reverse=True) #传递参数reverse=True按与字母顺序相反的顺序排列
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

使用函数sorted()对列表进行临时排序

In [58]:
cars = ['bmw','audi','toyota','subaru']
print("Here is the original list:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

In [59]:
print("\nHere is the sorted list:") 
print(sorted(cars))

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

In [60]:
print("\nHere is the original list again:")
print(cars)

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

要倒着打印列表，可使用方法reverse()

In [61]:
cars = ['bmw', 'audi', 'toyota', 'subaru'] 
print(cars) 
 
cars.reverse() 
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

列表里面元素的数据类型也可以不同，比如：

In [62]:
L = ['Apple',123,True]
L

['Apple', 123, True]

列表里面可以存在另一个列表，比如：

In [63]:
s = ['python', 'java', ['asp', 'php'], 'scheme']
s

['python', 'java', ['asp', 'php'], 'scheme']

In [64]:
p = ['asp', 'php']
s = ['python', 'java', p, 'scheme']

In [65]:
p[1]

'php'

In [66]:
s[2][1] #通过这种方法获得'php'

'php'

In [67]:
cars = ['bmw','audi','toyota','subaru']
len(cars) #使用函数len()来获得列表的长度

4

遍历整个列表

In [68]:
magicians = ['alice','david','carolina']
for magician in magicians: #使用for循环来遍历列表。不要忘记后面的冒号，注意避免缩进错误
    print(magician)

alice
david
carolina

使用函数range()

In [69]:
for value in range(1,5): #rang()从第一个值开始，到第二个值后结束，不包括第二个值
    print(value)

1
2
3
4

使用函数list()将range()的结果直接转换成列表

In [70]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

使用函数range()时可以指定步长

In [71]:
even_numbers = list(range(2,11,2))#最后一个参数是步长，不断的加2
print(even_numbers)

[2, 4, 6, 8, 10]

In [72]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
digits = [1,2,3,4,5,6,7,8,9,0]
min(digits) #统计最小

0

In [74]:
max(digits) #统计最大

9

In [75]:
sum(digits) #统计总和

45

可以使用一行代码生成列表

In [76]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

切片

In [77]:
players = ['charles','martina','michael','florence','eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [78]:
print(players[:4]) #如果没有指定第一个索引，将自动从列表头部开始

['charles', 'martina', 'michael', 'florence']

In [79]:
print(players[2:]) # 返回第三个元素到列表末尾的所有元素

['michael', 'florence', 'eli']

In [80]:
print(players[-3:]) #最后3个元素

['michael', 'florence', 'eli']

In [81]:
squares = [1,4,9,16,25]

In [82]:
squares[:]

[1, 4, 9, 16, 25]

列表支持连接操作

In [83]:
squares + [36,49,81,100]

[1, 4, 9, 16, 25, 36, 49, 81, 100]

遍历切片

In [84]:
players = ['charles','martina','michael','florence','eli']

In [85]:
for player in players[:3]:
    print(player.title())

Charles
Martina
Michael

复制列表

In [86]:
my_foods = ['pizza','falafel','carrot cake']
friend_foods = my_foods[:]
friend_foods.append('ice cream')
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake', 'ice cream']

元组(tuple)，使用圆括号来标识，元组是不可变的

In [87]:
dimensions = (200,50)

In [88]:
print(dimensions[0])
print(dimensions[1])

200
50

In [89]:
dimensions[0] = 250 #元组是不可变的，所以会报错

TypeError: 'tuple' object does not support item assignment

遍历元组

In [90]:
dimensions = (200,50)
for dimension in dimensions:
    print(dimension)

200
50

In [91]:
t = (1,2)
t

(1, 2)

In [92]:
t = () #空元组
t

()

In [93]:
t = (1) #定义的不是元组，而是1这个数
t

1

In [94]:
t = (1,) #定义一个元素的元组必须加一个逗号，
t

(1,)